<div class="card">
<h3><%= link_to grudge.name, grudge_enemies_path(grudge) %></h3>
<p>Number of members: <%= grudge.number_of_enemies %></p>
<p>Total threat level: <%= grudge.threat_level %></p>
</div>